  <h2 class="text-center">Liste des participants à l'évenement </h2>
 <div class="container">
        <!-- Example row of columns -->
  <br/>
        <table class="table">
        <thead>
          <tr>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
      <tbody>
      <% @attendance.each do |attendance|  %>
          <tr>
            <td scope="row"><%= attendance.user.first_name%></td>
            <td><%= attendance.user.last_name %></td>
            <td><%= attendance.user.email%></td>
          </tr>
        <%end%>
  </tbody>
  </table>
  <hr/>
  <br/>
<div class="container-fluid">
  <div class="row">
     <div class="col-md-2"></div>
      <div class="col-md-4">
        <a class="btn btn-secondary btn-lg" href="<%= edit_event_path(@event)%>">Edition de mon événement</a>
      </div>
      <div class="col-md-4">
        <%= button_to "Suppression de mon événement", @event, data: {:confirm => 'êtes-vous sûr de vouloir supprimer cet événement?'} , :method => :delete, class: "btn btn-danger btn-lg"%>
      </div>
      <div class="col-md-2"></div>
  <div>
</div>
</div> <!-- /container -->