<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1 class= >Modifier mon profil</h1></div>
    </div>
    <hr>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
      <div class="text-center">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
      </div> 
      <br>
    </div><!--/col-3-->
 <div class="container-fluid">
   <%= form_tag url_for(action: 'update'), method: "patch" do %>
   <div class="row"> 
    <div class="col-md-2">
      <label> Prénom </label>
    </div>
    <div class= "col-md-6">
      <p><%= text_field_tag 'first_name', @user.first_name %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <label> Nom </label>
    </div>
    <div class= "col-md-6">
      <p><%= text_field_tag 'last_name', @user.last_name %></p>
    </div>
  </div>   
 <div class="row">
    <div class="col-md-2">
      <label> Email</label>
    </div>
    <div class= "col-md-6">
      <p><%= text_field_tag 'email', @user.email %></p>
    </div>
  </div>  
 <div class="row">
    <div class="col-md-2">
      <label> Description </label>
    </div>
    <div class= "col-md-6">
      <p><%= text_field_tag 'description', @user.description %></p>
    </div>
  </div>                                                                                                                
  </div>
   <%= submit_tag "Valider mes modifications de profil" %>
</div>
<hr/>
<% end %>

