<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<hr>
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1 class= >Mon profil</h1></div>
    </div>
    <hr>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
      <div class="text-center">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
      </div> 
      <br>
    </div><!--/col-3-->
 <div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <label> Prénom </label>
    </div>
    <div class= "col-md-6">
      <p><%= @user.first_name %><p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <label> Nom </label>
    </div>
    <div class= "col-md-6">
      <p><%= @user.last_name %><p>
    </div>
  </div>   
 <div class="row">
    <div class="col-md-2">
      <label> Email</label>
    </div>
    <div class= "col-md-6">
      <p><%= @user.email %><p>
    </div>
  </div>  
 <div class="row">
    <div class="col-md-2">
      <label> Description </label>
    </div>
    <div class= "col-md-6">
      <p><%= @user.description %><p>
    </div>
  </div>                                                                                                                
  </div>
</div>
<hr/>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <h3> Liste des évenéments créés </h3>
    </div>
    <% @event.each do |event|%>
    <div class= "col-md-6">
      <p>Titre de l'event : <%= event.title %>   <a class="btn btn-primary btn-sm" href=" <%= event_path(event.id) %>" role="button"> En savoir plus >> </a> </p>
    <%end%>
    </div>
  </div>
<div>