<div class="container bootstrap snippet">
    <h1 class="text-center" >Mon profil</h1>
    <hr/>
    <div class="container-fluid text-center">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
      <br/>
      <br/>
    <div class="container-fluid">
      <div class="row">
      <div class="col-md-4"></div>
        <div class="col-md-2 text-right">
          <label> Prénom :</label>
        </div>
        <div class= "col-md-6 text-left">
          <p><%= @user.first_name %><p>
        </div>
      </div>
      <div class="row">
      <div class="col-md-4"></div>
        <div class="col-md-2 text-right">
          <label> Nom : </label>
        </div>
        <div class= "col-md-6 text-left">
          <p><%= @user.last_name %><p>
        </div>
      </div>   
    <div class="row">
    <div class="col-md-4"></div>
        <div class="col-md-2 text-right">
          <label> Email : </label>
        </div>
        <div class= "col-md-6 text-left">
          <p><%= @user.email %><p>
        </div>
      </div>  
    <div class="row">
    <div class="col-md-4"></div>
        <div class="col-md-2 text-right">
          <label> Description : </label>
        </div>
        <div class= "col-md-6 text-left">
          <p><%= @user.description %><p>
        </div>
      </div>                                                                                                                
      </div>
      <br/>
      <a class="btn btn-secondary btn-md" href="<%= edit_user_path(@user.id)%>">Modifier mon profil</a>
</div>
<hr/>
<h3 class="text-center"> Liste des évenéments créés </h3>
<br/>
<div class="container-fluid">
  <div class="row">
    <% @event.each do |event|%>
    <div class= "col-md-6">
      <p>Titre de l'évent : <%= event.title %> </p>
      <p><a class="btn btn-primary btn-sm" href=" <%= event_path(event.id) %>" role="button"> En savoir plus >> </a> </p>
    <%end%>
    </div>
  </div>
</div>