<div class="bg-cl bg-light">
<div class= "mx-5 my-5 ">
	<div class="container rounded box-shadow bg-white">
  		<div class="row">
    		<div class="col-sm-8">
          <%if @event.event_picture.attached?%>
            <%= image_tag @event.event_picture, alt: 'event_picture', style:'width:80%;' %>
              <% if current_user == User.find(@admin) %>
                <h4>Changer d'image?</h4>
                <%= form_tag event_event_pictures_path(@event), multipart: true do %>
                <%= file_field_tag :event_picture %>
                <%= submit_tag "mettre à jour" %>
              <%end%>
          <%end%>
          <%else%>
    			<img class="img-fluid" src="<%= image_url("event2.jpg")%>" alt="Image thumb">
           <%end%>
    		</div>
    		<div class="col-sm-4 pt-5">
    			<p><%= @event.start_date%></p>
    			<h3><%= @event.title %></h3>
    			<h4 class="text-secondary">Contacter l'organisateur : <%= User.find(@admin).email%></h4>
    			<p class="pt-5"><%= @event.price %> €</p>
    		</div>
  		</div>

  		<div class="row border border-ligth py-3">
  			<div class="col-sm-8 pl-4">
  				<i class="text-primary far fa-share-square fa-2x"></i>
  				<i class="text-primary far fa-heart ml-2 fa-2x"></i>
  			</div>
  			<div class="col-sm-4">
        <% if current_user == User.find(@admin) %>
                     <% elsif @attendee.include? current_user %>
                     <button class="btn card-btn btn-lg btn-block">Participation validée</button>
                     <%else%>
                      <a class="btn btn-primary btn-lg btn-block" href=" <%= new_event_participation_path(@event.id) %>" role="button">Participer</a>
                   <% end %>
			  </div>
  		</div>

  		<div class="row">
    		<div class="col-sm-8 my-3 px-5">
    			<h5>Description</h5>
    			<p class="text-secondary"><%= @event.description %></p>
             <% if current_user == User.find(@admin) %>
              <div class ="col-md-4">
                <a class="btn btn-primary btn-md" href=" <%= event_participations_path(@event.id) %>" role="button"> Mon espace événement »</a>
              </div>
            <% end %>
    			<h5 class="pt-4">Tags</h5>
    			<span class="badge badge-pill badge-light mr-2">Strasbourg</span>
    			<h5 class="pt-4">Partager</h5>
    			<i class="text-secondary fab fa-facebook fa-2x mr-2"></i>
    			<i class="text-secondary fab fa-whatsapp fa-2x mr-2"></i>
    			<i class="text-secondary fab fa-twitter fa-2x mr-2"></i>
    			<i class="text-secondary fas fa-envelope fa-2x mr-2"></i>
    		</div>
    		<div class="col-sm-4 my-5">
    			<h5>Date et Heure</h5>
    			<p><%= @event.start_date%></p>
    			<p>08:30 – 17:00 heure : France</p>
    			<h5 class="pt-5">Adresse</h5>
    			<p>139 Rue de Bercy</p>
    			<p><%= @event.location %></p>
    		</div>
  		</div>
  	</div>
  </div>
</div>