 <div class="jumbotron text-center">
 <div class="container">
    <h1 class= "display-3 jumbotron-heading">Modifier mon événement</h1>
    <p>Merci de remplir le formulaire ci-dessous</p>
  </div>
</div>
 
<div class="container">
  <%= form_tag url_for(action: 'update'), method: "patch" do %>
    <div class="form-group">
      <label>Titre de l'événement</label>
       <%= text_field_tag 'title', @event.title, class: 'form-control' %>
    </div>
    <div class="form-group">
      <label>Lieu</label>
      <%= text_field_tag 'location', @event.location, class: 'form-control' %>
    </div>
  <div class="form-row">
     <div class="form-group col-md-5">
        <label>Durée de l'event (en min) </label>
        <%= number_field_tag 'duration', @event.duration, class: 'form-control' %>
      </div>
      <div class="form-group col-md-5">
        <label>Date de l'évent </label>
        <%= datetime_field_tag 'start_date', @event.start_date, class: 'form-control' %>
      </div>
      <div class="form-group col-md-2">
        <label for="inputAddress">Prix (en €)</label>
        <%= text_field_tag 'price', @event.price, class: 'form-control' %>
      </div>
  </div>
  <div class="form-group">
    <label>Description</label>
      <%= text_area_tag 'description', @event.description, class: 'form-control' %>
  </div>
<% end %>

  <button type="submit" class="btn btn-primary align-center">Editer mon événement</button>
<% end %>
</div>

<% if @event.errors.any? %>
  <p>Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :</p>
  <ul>
    <% @event.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>

  